// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #40a4f5;
$indigo: #7283e7;
$purple: #a571f2;
$pink: #f66d9b;
$red: #f53a34;
$orange: #f78e25;
$yellow: #fae528;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
